[submodule "modules/emsdk"]
	path = modules/emsdk
	url = https://github.com/emscripten-core/emsdk
	branch = 4.0.5
	ignore = all
[submodule "modules/ffmpeg"]
	path = modules/ffmpeg
	url = https://github.com/RaimundoLai/FFmpeg
	branch = wv0.10.0
	ignore = all
[submodule "modules/aom"]
	path = modules/aom
	url = https://github.com/RaimundoLai/aom
	branch = v3.12.1
	ignore = all
[submodule "modules/kvazaar"]
	path = modules/kvazaar
	url = https://github.com/ultravideo/kvazaar
	branch = v2.3.1
	ignore = all
[submodule "modules/lame"]
	path = modules/lame
	url = https://github.com/ffmpegwasm/lame
	branch = master
	ignore = all
[submodule "modules/libsamplerate"]
	path = modules/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
	branch = 0.2.2
	ignore = all
[submodule "modules/libsndfile"]
	path = modules/libsndfile
	url = https://github.com/libsndfile/libsndfile
	branch = 1.2.2
	ignore = all
[submodule "modules/libvpx"]
	path = modules/libvpx
	url = https://github.com/webmproject/libvpx
	branch = v1.15.2
	ignore = all
[submodule "modules/libwebp"]
	path = modules/libwebp
	url = https://github.com/webmproject/libwebp
	branch = v1.6.0
	ignore = all
[submodule "modules/Ogg"]
	path = modules/Ogg
	url = https://github.com/xiph/ogg
	branch = v1.3.6
	ignore = all
[submodule "modules/openh264"]
	path = modules/openh264
	url = https://github.com/cisco/openh264
	branch = v2.6.0
	ignore = all
[submodule "modules/opus"]
	path = modules/opus
	url = https://github.com/xiph/opus
	branch = v1.5.2
	ignore = all
[submodule "modules/svtav1"]
	path = modules/svtav1
	url = https://github.com/RaimundoLai/svtav1
	branch = v3.1.2
	ignore = all
[submodule "modules/theora"]
	path = modules/theora
	url = https://github.com/xiph/theora
	branch = v1.2.0
	ignore = all
[submodule "modules/vorbis"]
	path = modules/vorbis
	url = https://github.com/xiph/vorbis
	branch = v1.3.7
	ignore = all
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib
	branch = v1.3.1
	ignore = all